*{
    margin: 0px;
    padding: 0px;
}
body{
    overflow-x: hidden;
}
html{
    overflow-x: hidden;
}
.slider{
    width: 100%;
    height: 500px;
    overflow: hidden;
    
}
figure{
    position: relative;
    left: 0;
    width: 400%;
    animation: 20s slide infinite;
}


.slide{
    position: relative;
    width: 25%;
    float: left;
}
.slide img{
    width: 100%;
    height: 500px;
}


@keyframes slide{
    0%{
        left:0px;
    }
    10%{
        left:0px;
    }
    20%{
        left:-100%;
    }
    30%{
        left:-100%;
    }
    40%{
        left:-200%;
    }
    50%{
        left:-200%;
    }
    55%{
        left:-300%;
    }
    65%{
        left:-300%;
    }
    66%{
        left:-200%;
    }
    74%{
        left:-200%;
    }
    75%{
        left:-100%;
    }
    85%{
        left:-100%;
    }
    90%{
        left:0%;
    }
    100%{
        left:0%;
    }
    
}
.nav_manual{
    position: absolute;
    width: 100vw;
    justify-content: center;
    display: flex;
}
.m-btn{
    border: 2px solid #dc4348;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
/* ==========navbar=============== */

#Navbar{
    position:relative;
    width: 100%;
    z-index: 2000;
    padding: 10px 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
}

.logo img{
    max-width: 200px;
    height: 80px;
    margin-left: 40px;
}
.navmenu{
    display: flex;
    margin-right: 100px;
}
#nav-icon{
    margin-right: 100px;

}
#nav-icon a{
    margin-left: 15px;
    align-items: center;
    font-size: 20px;
    color: #dc4348;


}
.navmenu a{
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
    color:#dc4348;
    list-style: none;
    text-decoration: none;
    font-family: gotham-book;
    transition: all 2s ease;
}
.navmenu a:hover{
    text-decoration: underline;
    transition: all 2s ease;
}
#images-animasan{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}
#images-animasan div img{
    height: auto;
    width: 450px;
}
#btn1{
    position: absolute;
    align-content: center;
    text-align: center;
    align-items: center;
    margin: 370px 0px 0 120px;
    background-color:#dc4348;
    color: white;
    font-size: 15px;
    font-weight: 600;
    height: 40px;
    width: 150px;
    border-radius: 40px;
    border: none;
}

#btn2{
    position: absolute;
    align-content: center;
    text-align: center;
    align-items: center;
    margin: 370px 0px 0 120px;
    background-color:rgb(230, 90, 90);
    color: white;
    font-size: 15px;
    font-weight: 600;
    height: 40px;
    width: 200px;
    border-radius: 40px;
    border: none;
}
#btn3{
    position: absolute;
    align-content: center;
    text-align: center;
    align-items: center;
    margin: 370px 0px 0 200px;
    background-color:rgb(230, 90, 90);
    color: white;
    font-size: 15px;
    font-weight: 600;
    height: 40px;
    width: 200px;
    border-radius: 40px;
    border: none;
}
#history-img{
    position: relative;
    background-image: url(./Images/backgound-img.jpg);
    height: 100vh;
    width: auto;
    text-align: center;
    align-content: center;

}
#history-img img{
    height: auto;
    width: 600px;
    align-items: center;
    text-align: center;
    align-content: center;
    z-index: 2000;
}
footer{
    background-color: white;
    padding-bottom: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
    
 
 }
 .main_div{
     display: grid;
     grid-template-columns: auto auto auto auto auto;
     gap: 2rem;
     justify-content: space-evenly;
     color: rgb(82, 80, 80);
     
 }
 
 .main_div ul li a{
     color: rgb(82, 80, 80);
     margin-top: 5px;
     list-style: none;
     text-decoration: none;
 }
 .main_div ul li{
     margin-top: 10px;
     list-style: none;
     text-decoration: none;
 }
     
 .social_icon ul{
     display: flex;
     justify-content: center;
     list-style: none;
     text-decoration: none;
     margin: 20px 0 20px 0;

    
 }
 .social_icon ul li a{
    margin: 10px;
    color:rgb(230, 90, 90) ;
 }
 
 
 
 /* ============================Footer Section end======================== */